<%# /app/ %>

<!-- <div class="content" id="covered"> -->
<div class="content">
  <img src="/public/images/carnaby/cover.jpg" width=100% ></img>
  <ul>
    <li><a href="Video">Video</a></li>
  </ul>
</div>