<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />

  <title>jQTouch &beta;</title>
  <style type="text/css" media="screen">@import "/public/jqtouch148/jqtouch.css";</style>
  <style type="text/css" media="screen">@import "/public/themes/jqt/theme.css";</style>
  <style type="text/css" media="screen">@import "/public/extensions/jqt.photo.css";</style>
  <script src="/public/jqtouch148/jquery.1.4.2.js" type="text/javascript" charset="utf-8"></script>
  <script src="/public/jqtouch148/jqtouch.js" type="application/x-javascript" charset="utf-8"></script>
  <script src="/public/extensions/jqt.photo.js" type="application/x-javascript" charset="utf-8"></script>
  <script src="/public/extensions/jqt.scroll.js" type="application/x-javascript" charset="utf-8"></script>
</head>

<body>
  <%= @content %>
</body>
</html>