 <% if false %>
 link_to "Visit Other Site", "http://www.rhomobile.com/"
  ==> <a href="http://www.rhomobile.com/" >Visit Other Site</a>
    
  link_to "Help", { :action => "help" }
  ==> <a href="/app/model/help" >Help</a>
    
  link_to "Delete", { :action => "delete", :id => '{12}' }
  ==> <a href="/app/model/{12}/delete"  onclick="var f = document.createElement('form'); 
      f.style.display = 'none';this.parentNode.appendChild(f); f.method = 'POST'; 
      f.action = this.href;f.submit();return false;">Delete</a>
   
  link_to "Show", { :action => "show", :id => '{12}'},"style=\"height:4px;width:7px;border-width:0px;\"" 
  ==> <a href="/app/model/{12}/show" style="height:4px;width:7px;border-width:0px;">Show</a>
    
  link_to "Delete", { :action => "delete", :id => '{12}' }, "class=\"delete_link\""
  ==> <a href="/app/model/{12}/delete" class="delete_link" onclick="var f = document.createElement('form'); 
      f.style.display = 'none';this.parentNode.appendChild(f); f.method = 'POST'; 
      f.action = this.href;f.submit();return false;\">Delete</a>"
    
  link_to "Invite",:action => :invite, :query => {:name => 'John Smith', 'address' => "http://john.smith.com"}
  ==> <a href="/app/model/invite?name=John%20Smith&address=http%3A%2F%2Fjohn.smith.com" >Invite</a>
  
 url_for :action => :index
 ==> /app/model
   
 url_for :action => :create
 ==> /app/model
  
 url_for :action => :new
 ==> /app/model/new
   
 url_for :action => :show, :id => '{12}'
 ==> /app/model/{12}/show
 
 url_for :model => :another_model, :action => :show, :id => '{12}'
 ==> /app/another_model/{12}/show
   
 url_for :controller => :another_controller, :action => :show, :id => '{12}'
 ==> /app/another_controller/{12}/show
   
 url_for :application => :another_app, :model => :another_model, :action => :show, :id => '{12}'
 ==> /another_app/another_model/{12}/show
    
 url_for :action => :create, :query => {:name => 'John Smith', 'address' => "http://john.smith.com"}
 ==> /app/model?name=John%20Smith&address=http%3A%2F%2Fjohn.smith.com
   
 url_for :action => :show, :id => '{12}', :fragment => "an-anchor" 
 ==> /app/model/{12}/show#an-anchor  
<%# WebView.navigate("http://meishi.enjoyoung.cn") %>
<%= link_to "js", WebView.execute_js("test();") %> #call method test from current page
Suppose that current page has js method:
<script type="text/javascript" charset="utf-8">
function test() {
    alert("Test");
}  
</script> 
<%# WebView.full_screen_mode(0) %>
  <% end %>