tmp/*
log/*
.project
.idea
.loadpath
.metadata/*
_notes/*
_notes
Thumbs.db
db/*.sqlite3
db/schema.rb
config/database.yml
public/images/assets
mobile/android/bin/com/koocaa/thecarnaby/*.class
mobile/android/bin/com/koocaa/thecarnaby/model/*.class
mobile/android/bin/
mobile/RhodestheCarnaby/bin
mobile/android/gen/com/koocaa/thecarnaby/R.java
public/uploads