<div id="pageTitle">
	<h1>Statuses</h1>
</div>


<div id="toolbar">
    <%= link_to "New", :action => :new %>
    <%= link_to "Home", RhoConfig::start_path %>
</div>

<div id="content">
  <table>
    <tr>
    <% @statuses.each do |obj| %>
    	
    	    <td class="recordLabel"><%= link_to "#{obj.init_data}", :action => :show, :id => obj.object %></td>
    	
    <% end %>
    </tr>
  </table>
</div>