<div id="pageTitle">
	<h1><%= @status.init_data%></h1>
</div>

<div id="toolbar">
        <%= link_to "Back", :action => :index %>
        <%= link_to "Edit", :action => :edit, :id => @status.object %>
</div>


<div id="content">

    <table>
      
      <tr>
    	<td class="itemLabel">InitData</td>
        <td class="itemValue"><%= @status.init_data%></td>
      </tr>
      
    </table>
</div>