<% content_for :main do -%>
	<% source = "CREATE TABLE ZSHOP ( Z_PK INTEGER PRIMARY KEY, Z_ENT INTEGER, Z_OPT INTEGER, ZREMOTE_SHOP_ID INTEGER, ZLONGITUDE FLOAT, ZLATITUDE FLOAT, ZUPDATED_AT TIMESTAMP, ZCITY VARCHAR, ZSHOP_TYPE VARCHAR, ZPROVINCE VARCHAR, ZDESCRIPTION_ZH VARCHAR, ZADDRESS VARCHAR, ZADDRESS_EN VARCHAR, ZPROVINCE_EN VARCHAR, ZDESCRIPTION_EN VARCHAR, ZNAME VARCHAR, ZCITY_EN VARCHAR, ZNAME_EN VARCHAR , ZREMOTE_IMAGE_URL VARCHAR);\r\n" %>
	<% @shops.each do |shop|
		source += "INSERT INTO ZSHOP ( Z_PK,Z_ENT,Z_OPT,ZREMOTE_SHOP_ID,ZLONGITUDE,ZLATITUDE,ZUPDATED_AT,ZCITY,ZSHOP_TYPE,ZPROVINCE,ZDESCRIPTION_ZH,ZADDRESS,ZADDRESS_EN,ZPROVINCE_EN,ZDESCRIPTION_EN,ZNAME,ZCITY_EN,ZNAME_EN, ZREMOTE_IMAGE_URL)\r\n VALUES \r\n('#{shop.id}','6','1','#{shop.id}','#{shop.longtitude}','#{shop.latitude}', '#{shop.updated_at}','#{shop.city}','#{shop.display_shop_type}','#{shop.province}','','#{shop.address}','#{shop.address_en}','#{shop.province_en}','','#{shop.name}','#{shop.city_en}','#{shop.name_en}'"	  
    unless shop.assets.empty?
      source += ",'#{shop.assets.first.uploaded_data.url(:iphone)}');\r\n"  
    else
      source += ",'shop_pic_demo.jpg');\r\n" 
    end
	end %>
	<div class="toolbar">
		<ul class="actions">
			<li>
				<a class="button" href="/shops/download_pics?platform=iphone"><span>下载图片</span></a>
			</li>
		</ul>
	</div>

	<hr class="space">
	
	<pre class="brush: sql"><%= source %></pre>
	
	<script type="text/javascript" charset="utf-8">
		SyntaxHighlighter.all()
	</script>
<% end -%>