<% @coupons.each do |coupon| %>
<div id="<%= dom_id(coupon) %>" class="coupon">
  <h3><%= tt(coupon,'name') %></h3>
  <p>
    <%= tt(coupon,'description') %>
  </p>
</div>
<% end %>

<%=will_paginate @coupons%>