<% form_tag({:action => :index},{:method=>"get"}) do%>
<div class="box">
	<h3>新闻搜索</h3>
	<p>
		新闻标题<br>
		<%= text_field_tag "search[title]",params[:search].nil? ? "" : params[:search][:title]%>
	</p>
	<p>
		新闻正文<br>
		<%= text_field_tag "search[body]",params[:search].nil? ? "" : params[:search][:body]%>
	</p>
	<p><button type="submit"><span>搜索</span></button></p>
</div>
<% end %>