<%content_for :main do%>
<h2>新增品牌</h2>

<hr class="space">

	<% form_for @brand, :url => brands_url do |b| %>
	<fieldset>
	  <p>
	    <label for="brand_name">Name</label> <span class="required">*</span><br>
	    <input type="text" value="" size="30" name="brand[name]" id="brand_name">
	  </p>

	  <p>
	    <button type="submit"><span>新增</span></button> | <a href="/brands">返回</a>
	  </p>
	</fieldset>
	<%end%>
<%end%>

﻿<%content_for :sidebar do%>
	<%=render :partial=>"search"%>
<%end%>